<% unless comment.archived? %>
  <p>
    <strong><%= comment.commenter %> :</strong>
    <%= comment.body %>
  </p>
<% end %>
<p>
    <%= link_to "Destroy Comment", [comment.movie, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
