<h1>Movies</h1>

<h3>Our Blog has <%= Movie.public_count%> movies and counting</h3>

<ul>
<% @movies.each do |movie|%>
  <% unless movie.archived? %>
    <p>
      <%= link_to movie.title, movie%>
    </p>
  <% end %>
<% end %>
</ul>

<%= link_to "New Movie", new_movie_path %>
