<div id="<%= dom_id temp %>">
  <p>
    <strong>Name:</strong>
    <%= temp.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= temp.email %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= temp.login %>
  </p>

</div>
